<!-- Page Banner -->
<div class="inner-banner inner-bg4">
    <div class="container">
        <div class="inner-title">
            <h1>Manage your Event</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/manage-events">
                        Manage Events
                    </a>
                </li>
                <li>
                    Manage Event
                </li>
            </ul>
            <div class="inner-shape">
                <img src="assets/images/inner-banner/inner-shape1.png" alt="shape">
                <img src="assets/images/inner-banner/inner-shape2.png" alt="shape">
            </div>
        </div>
    </div>
</div>

<!-- Item Details -->
<div class="item-details-area ptb-100">
    <div class="container">
        <div class="row" *ngIf="!event">
            <div class="col">
                Loading ...
            </div>
        </div>
        <div class="row" *ngIf="event">
            <div class="col-xl-7 col-lg-6 col-md-12">
                <div class="item-details-left-side pr-20">
                    <div class="item-details-img">
                        <img class="w-100 img img-fluid" src={{event.logo}} alt="nft-image">
                        <span><i class="ri-heart-line"></i>{{singleItemDetail.id}}</span>
                    </div>
                    
                </div>
            </div>
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="item-details-desc">
                    <div class="section-title">
                        <h3>{{event.name}}</h3>
                        <p>{{event.desc}}</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <div class="item-details-user">
                                <h4>Organizer</h4>
                                <div class="content">
                                    <div class="images">
                                        <img src={{event.logo}} alt="author-image">
                                        <i class="ri-check-line"></i>
                                    </div>
                                    <span>@{{event.orgName}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="item-details-user">
                                <h4>NFT Collection</h4>
                                <div class="content">
                                    <div class="images">
                                        <img src={{singleItemDetail.logo}} alt="author-image">
                                        <i class="ri-check-line"></i>
                                    </div>
                                    <span>{{event.nftSymbol}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-details-price">
                        <div class="item-details-title">
                            <h3>Date:</h3>
                            <p>{{event.date | date:'MMM dd, y'}}</p>
                            <span></span>
                        </div>
                        <!-- <ul>
                            
                            <li>
                                Category
                                <strong>Concert</strong>
                            </li>
                        </ul> -->
                    </div>
                    <div class="item-details-user-item">
                        <div class="images">
                            <img src="https://place-hold.it/100?text={{event.logo?.substring(0,1)}}" alt="author-image">
                            <i class="ri-check-line"></i>
                        </div>
                        <div class="content">
                           <h4>{{event.owner}}</h4>
                            <span>Creator</span>
                        </div>
                    </div>
                    <!-- <div class="item-details-btn">
                        <a routerLink="/connect-wallet" class="default-btn border-radius-50">
                            Buy Ticket
                        </a>
                    </div> -->

                    
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <div class="item-details-content">
                        <h3>Manage Tickets  <button class="btn btn-primary mx-3" (click)="addTicketType()">Add New Ticket Type</button> </h3>
                        <div class="item-details-into" >

                            <div class="alert alert-info" *ngIf="!ticketTypes || ticketTypes.length <= 0">
                                No Ticket Has been added yet. Create your first ticket
                            </div>
                            <div class="item-details-card d-flex justify-content-between" *ngFor="let ticketType of ticketTypes">
                                <div class="item-details-card-img">
                                    <img class="img-ticket-type img-fluid" src={{ticketType.logo}} alt="author">
                                    <i class="ri-check-line"></i>
                                </div>
                                <div class="item-details-card-content">
                                    <h3>Name <strong>{{ticketType.name}}</strong></h3>
                                    <!-- <span>by @{{his.orgName}}</span> -->
                                </div>
                                <div class="">
                                    Sold: {{ticketType.ticketsSold}}/{{ticketType.maxTickets}}
                                </div>
                                <div *ngIf="ticketType.ticketsSold>0 ">
                                    <button class="btn btn-info mx-3" *ngIf="ticketType.seatAssignments.length !== ticketType.ticketsSold" (click)="assignSeats(ticketType)">Assign Seats</button>
                                    <button class="btn btn-info mx-3" *ngIf="ticketType.seatAssignments.length == ticketType.ticketsSold " (click)="viewSeats(ticketType)">View Seats</button>
                                </div>
                            </div>

                            


                        </div>
                    </div>
                </div>

                <div class="col p-4 " *ngIf="seatsBeingViewed">
                    <div class="item-details-card " >
                        <div class="item-details-card-content">
                            <h3>Name <strong>{{seatsBeingViewed.ticketType.name}}</strong></h3>
                            <!-- <span>by @{{his.orgName}}</span> -->
                        </div>

                        <table class="table" >
                            <thead>
                              <tr>
                                
                                <th scope="col">Ticket Number</th>
                                <th scope="col">Seat</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let seat of seatsBeingViewed.seatAssignments">
                                <th scope="row">{{seat.tokenId}}</th>
                                <td>{{seat.seat}}</td>
                                
                              </tr>
                              
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


