<app-homeone-banner></app-homeone-banner>


<div class="container mt-2" *ngIf="!walletConnected">
    <div class="row ">
        <div class="col p-4">

            <div class="alert alert-info">
                <app-w3m-core-button-wrapper></app-w3m-core-button-wrapper>
                
            </div>
        </div>
    </div>
</div>

<app-trending-nfts></app-trending-nfts>

<app-top-sellers></app-top-sellers>

<app-live-auction-nfts></app-live-auction-nfts>

<!-- <app-popular-nfts></app-popular-nfts> -->

<!-- <app-how-to-sell></app-how-to-sell> -->
<!--
<app-top-author></app-top-author>

<app-hot-collections></app-hot-collections> -->
<app-tutorials></app-tutorials>

<br /><br /><br />
<div
    class="container-fluid py-5 my-5 m-auto"
    style="background-color: #e8e4e491"
>
    <div
        class="row py-4 px-4 d-flex align-items-center justify-content-between"
    >
        <div class="col-lg-7 col-12 px-2">
            <h2 class="text-capitalize fs-2 my-3">
                Create Multi Priced NFT gated Tickets
            </h2>
            <p class="text-capitalize px-0">
                Personalize your tickets to offer a unique experience for every
                participant. Easily generate various ticket levels at different
                prices. Offer discounts to customers who hold certain NFTs
            </p>
        </div>
        <div class="col-lg-5 col-12 my-3">
            <img
                src="assets/images/features_1.png"
                alt=""
                width="500"
                height="500"
                class="img-fluid"
            />
        </div>
    </div>
</div>

<br /><br />
<div class="container my-5 m-auto">
    <div class="row d-flex align-items-center justify-content-between">
        <div class="col-lg-5 col-12 my-3">
            <img
                src="assets/images/features_2.png"
                alt=""
                width="500"
                height="500"
                class="img-fluid"
            />
        </div>

        <div class="col-lg-7 col-12 px-2">
            <h2 class="text-capitalize fs-2 my-3">Auction your NFT Tickets</h2>
            <p class="text-capitalize px-0">
                Every ticket is issued as a collector NFT which can be resold or
                auctioned on our Ticket NFT Marketplace
            </p>
        </div>
    </div>
</div>
