<!-- Page Banner -->
<div class="inner-banner inner-bg3">
    <div class="container">
        <div class="inner-title">
            <h1>Privacy Policy</h1>
            <p class="text-muted">coming soon!</p>
            <ul>
                <li>
                    <a routerLink="/"> Home </a>
                </li>
                <li>Privacy Policy</li>
            </ul>
            <div class="inner-shape">
                <img
                    src="assets/images/inner-banner/inner-shape1.png"
                    alt="shape"
                />
                <img
                    src="assets/images/inner-banner/inner-shape2.png"
                    alt="shape"
                />
            </div>
        </div>
    </div>
</div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
            <h4 class="text-capitalize">coming soon</h4>
        </div>
    </div>
</div>
