.privacy-policy-content {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 12px;

        &:not(:first-child) {
            margin-top: 25px;
        }
    }
    strong {
        color: var(--titleColor) !important;
    }
    p {
        a {
            color: var(--pinkColor);

            &:hover {
                text-decoration: underline;
            }
        }
    }
    ul, ol {
        li {
            color: var(--bodyColor);
            margin-bottom: 12px;

            a {
                color: var(--pinkColor);
    
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}