<!-- Collections -->
<div class="collections-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Hot Collections</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6" *ngFor="let item of hotCollection">
                <div class="collections-card">
                    <div class="image">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src={{item.logo}} alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src={{item.logo}} alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src={{item.logo}} alt="nft-image">
                                </a>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6">
                                <a routerLink="/collection" class="d-block">
                                    <img src={{item.logo}} alt="nft-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="collections-user">
                            <img src={{item.logo}} alt="nft-image">
                        </div>
                        <h3>
                            <a routerLink="/collection">
                                {{item.name}}
                            </a>
                        </h3>
                        <span><h6>{{item.ticketSold}}</h6></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>