<div class="create-area pt-100 pb-70">
    <div class="container">
        <div
            class="section-title text-center"
            [ngClass]="{'d-none': router.url === '/index-3'}"
        >
            <h2>Create And Publish Your Events To the world</h2>
        </div>
        <div
            class="row align-items-center"
            [ngClass]="{'d-none': router.url === '/index-3'}"
        >
            <div class="col-lg-6 col-md-12">
                <div class="create-img">
                    <img src="assets/images/create/create-img.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="create-card-right pl-20">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="create-card">
                                <img src="assets/images/create/create-icon1.png" alt="nft-image">
                                <h3>
                                    Set Up Your Profile
                                </h3>
                                <p>connect wallet by clicking the wallet icon in the top right corner. Learn about the wallets <a routerLink="/login">we support.</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="create-card">
                                <img src="assets/images/create/create-icon2.png" alt="nft-image">
                                <h3>
                                    Create Your Event
                                </h3>
                                <p>Click Create and Add social links, a description, profile & banner images, and set a secondary sales fee.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="create-card">
                                <img src="assets/images/create/create-icon3.png" alt="nft-image">
                                <h3>
                                    Add Your Tickets
                                </h3>
                                <p>Upload your work (image, video, audio, or 3D art), add a title and description, and customize your NFTs</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-6">
                            <div class="create-card">
                                <img src="assets/images/create/create-icon4.png" alt="nft-image">
                                <h3>
                                    Let World Discover
                                </h3>
                                <p>Choose between auctions, fixed-price listings, and declining-price listings. You choose how you want to sell your NFTs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>