<!-- Page Banner -->
<div class="inner-banner inner-bg2">
    <div class="container">
        <div class="inner-title">
            <h1>Terms & Conditions</h1>
            <p class="text-muted">Coming Soon</p>

            <ul>
                <li>
                    <a routerLink="/"> Home </a>
                </li>
                <li>Terms & Conditions</li>
            </ul>
            <div class="inner-shape">
                <img
                    src="assets/images/inner-banner/inner-shape1.png"
                    alt="shape"
                />
                <img
                    src="assets/images/inner-banner/inner-shape2.png"
                    alt="shape"
                />
            </div>
        </div>
    </div>
</div>

<!-- Terms & Conditions -->
<div class="terms-conditions-area ptb-100">
    <div class="container">
        <div class="terms-conditions-content">
            <h4 class="text-capitalize">coming soon</h4>
        </div>
    </div>
</div>
