<div class="involved-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Get Involved With Us</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="involved-card">
                    <div class="icon">
                        <i class="ri-flight-takeoff-line"></i>
                    </div>
                    <h3>Join Our Community</h3>
                    <ul class="social-link">
                        <li>
                            <a href="https://www.google.com/" target="_blank">
                                <i class="ri-google-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a
                                href="https://www.instagram.com/"
                                target="_blank"
                            >
                                <i class="ri-instagram-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="involved-card">
                    <div class="icon">
                        <i class="ri-checkbox-circle-line"></i>
                    </div>
                    <h3 class="fs-4">Become A Creator</h3>
                    <a class="default-btn text-decoration-none">Coming Soon</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="involved-card">
                    <div class="icon">
                        <i class="ri-heart-2-line"></i>
                    </div>
                    <h3 class="fs-4">Become A Charity Partner</h3>
                    <a class="default-btn text-decoration-none">Coming Soon</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="involved-card">
                    <div class="icon">
                        <i class="ri-discuss-line"></i>
                    </div>
                    <h3 class="fs-4">Reach Out To Our Team</h3>
                    <a
                        routerLink="/contact"
                        class="default-btn text-decoration-none"
                        >Contact Now</a
                    >
                </div>
            </div>
        </div>
    </div>
</div>
