<div class="banner-area-two">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content-two">
                    <h1>Collect NFTs From Our Creative & Rare Digital Artwork</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam etiam rhoncus aenean a iaculis aliquet.</p>
                    <div class="banner-btn">
                        <a routerLink="/explore-1" class="default-btn border-radius-5">Explore More</a>
                        <a routerLink="/connect-wallet" class="default-btn border-radius-5">Connect Wallet</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-item-slider">
                    <owl-carousel-o [options]="bannerItemSlides">
                        <ng-template carouselSlide>
                            <div class="banner-item">
                                <div class="image">
                                    <a routerLink="/item-details" class="d-block">
                                        <img src="assets/images/nft/nft-img1.jpg" alt="ngt-image">
                                    </a>
                                    <div class="banner-item-user">
                                        <a routerLink="/author-profile" class="banner-item-user-option">
                                            <img src="assets/images/author/author1.jpg" alt="author-image">
                                            <span>Created by @Farnil</span>
                                        </a>
                                    </div>
                                    <div class="timer">
                                        <div class="countdown" simpleCountdown ></div>
                                    </div>
                                    <button type="submit" class="default-btn">Place Bid</button>
                                </div>
                                <div class="content">
                                    <div class="info">
                                        <h3>
                                            <a routerLink="/item-details">
                                                Walking On Air
                                            </a>
                                        </h3>
                                        <span class="fav">
                                            <i class="ri-heart-line"></i> 142
                                        </span>
                                    </div>
                                    <div class="item-left">
                                        <span>Start Bid</span>
                                        <h4 class="item-left-eth">15,00 ETH</h4>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="banner-item">
                                <div class="image">
                                    <a routerLink="/item-details" class="d-block">
                                        <img src="assets/images/nft/nft-img2.jpg" alt="ngt-image">
                                    </a>
                                    <div class="banner-item-user">
                                        <a routerLink="/author-profile" class="banner-item-user-option">
                                            <img src="assets/images/author/author2.jpg" alt="author-image">
                                            <span>Created by @Adison</span>
                                        </a>
                                    </div>
                                    <div class="timer">
                                        <div class="countdown"></div>
                                    </div>
                                    <button type="submit" class="default-btn">Place Bid</button>
                                </div>
                                <div class="content">
                                    <div class="info">
                                        <h3>
                                            <a routerLink="/item-details">
                                                Flowers In Concrete
                                            </a>
                                        </h3>
                                        <span class="fav">
                                            <i class="ri-heart-line"></i> 162
                                        </span>
                                    </div>
                                    <div class="item-left">
                                        <span>Start Bid</span>
                                        <h3 class="item-left-eth">14,00 ETH</h3>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="banner-item">
                                <div class="image">
                                    <a routerLink="/item-details" class="d-block">
                                        <img src="assets/images/nft/nft-img3.jpg" alt="ngt-image">
                                    </a>
                                    <div class="banner-item-user">
                                        <a routerLink="/author-profile" class="banner-item-user-option">
                                            <img src="assets/images/author/author3.jpg" alt="author-image">
                                            <span>Created by @Samuel</span>
                                        </a>
                                    </div>
                                    <div class="timer">
                                        <div class="countdown"></div>
                                    </div>
                                    <button type="submit" class="default-btn">Place Bid</button>
                                </div>
                                <div class="content">
                                    <div class="info">
                                        <h3>
                                            <a routerLink="/item-details">
                                                Les Immortels
                                            </a>
                                        </h3>
                                        <span class="fav">
                                            <i class="ri-heart-line"></i> 182
                                        </span>
                                    </div>
                                    <div class="item-left">
                                        <span>Start Bid</span>
                                        <h3 class="item-left-eth">16,00 ETH</h3>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-shape">
        <div class="shape-in1">
            <img src="assets/images/shape/home-two-shape1.png" alt="shape">
        </div>
        <div class="shape-in2">
            <img src="assets/images/shape/home-two-shape2.png" alt="shape">
        </div>
    </div>
</div>
