<!-- Page Banner -->
<div class="inner-banner inner-bg7">
    <div class="container">
        <div class="inner-title">
            <h1>Create an Account</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Register
                </li>
            </ul>
            <div class="inner-shape">
                <img src="assets/images/inner-banner/inner-shape1.png" alt="shape">
                <img src="assets/images/inner-banner/inner-shape2.png" alt="shape">
            </div>
        </div>
    </div>
</div>

<!-- Register -->
<div class="user-area ptb-100">
    <div class="container">
        <div class="user-all-form">
            <form>
                <div class="form-group">
                    <label>Your Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Your Email</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password">
                </div>
                <div class="text-center">
                    <button type="submit" class="default-btn">Register Now</button>
                </div>
                <div class="sub-title">
                    <span>Or</span>
                </div>
                <div class="login-with-account">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-line"></i>
                                Login with Facebook
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" target="_blank">
                                <i class="ri-google-line"></i>
                                Login with Google
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Already have an account? <a routerLink="/login">Login Now</a></p>
            </form>
        </div>
    </div>
</div>