<div class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>From Our Blog</h2>
            <a routerLink="/blog" class="default-btn border-radius-5">Explore More</a>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img1.jpg" alt="blog-image">
                        </a>
                        <a routerLink="/blog-grid" class="blog-tag-btn">
                            Artwork
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                Announcing Our $100m Raise, Led By A16z
                            </a>
                        </h3>
                        <span class="date">June 11, 2021</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img2.jpg" alt="blog-image">
                        </a>
                        <a routerLink="/blog-grid" class="blog-tag-btn">
                            Digital
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                A Portrait Of The Year That Changed Everything
                            </a>
                        </h3>
                        <span class="date">June 10, 2021</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="blog-card">
                    <div class="blog-img">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/images/blog/blog-img3.jpg" alt="blog-image">
                        </a>
                        <a routerLink="/blog-grid" class="blog-tag-btn">
                            Creative
                        </a>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/blog-details">
                                Christie’s Ended Up Selling For $69 Million In Nft Marketplace
                            </a>
                        </h3>
                        <span class="date">June 9, 2021</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>