<div class="nfts-area bg-f6f6f6 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Popular Events</h2>
            <a routerLink="/explore-1" class="default-btn border-radius-5"
                >Explore More</a
            >
        </div>
        <div
            class="row justify-content-center"
            [ngClass]="{ 'd-none': router.url === '/index-3' }"
        >
            <div
                class="col-xl-3 col-lg-4 col-md-6"
                *ngFor="let item of popularEvent"
            >
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="{{ item.logo }}" alt="nft-image" />
                        </a>
                        <div class="featured-user">
                            <a
                                routerLink="/author-profile"
                                class="featured-user-option text-decoration-none"
                            >
                                <img src="{{ item.logo }}" alt="author-image" />
                                <span>Created by @{{ item.orgName }}</span>
                            </a>
                        </div>
                        <button
                            type="button"
                            class="default-btn border-radius-5"
                        >
                            Place Bid
                        </button>
                        <!-- convert your date to timestamps https://www.epochconverter.com/ -->
                        <div class="countdown">{{ item.date }}</div>
                    </div>
                    <div class="content">
                        <h3>
                            <a
                                routerLink="/item-details"
                                class="text-decoration-none event-name"
                            >
                                {{ item.name }}
                            </a>
                        </h3>
                        <div class="content-in text-center">
                            <span>{{ item.desc }}</span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img
                                        src="{{ item.logo }}"
                                        alt="author-image"
                                    />
                                </li>
                                <li>
                                    <img
                                        src="{{ item.logo }}"
                                        alt="author-image"
                                    />
                                </li>
                                <li class="title">Ticket bougth</li>
                            </ul>
                            <p>
                                <i class="ri-heart-line"></i>
                                {{ item.ticketSold }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
