<!-- Page Banner -->
<div class="inner-banner inner-bg5">
    <div class="container">
        <div class="inner-title">
            <h1>Blog Details</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Blog Details
                </li>
            </ul>
            <div class="inner-shape">
                <img src="assets/images/inner-banner/inner-shape1.png" alt="shape">
                <img src="assets/images/inner-banner/inner-shape2.png" alt="shape">
            </div>
        </div>
    </div>
</div>

<!-- Blog Details -->
<<div class="blod-details-area ptb-100">
    <div class="container">
        <div class="blog-details-content">
            <h4 class="text-capitalize">coming soon</h4>
        </div>
    </div>
</div>
