<!-- Page Banner -->
<div class="inner-banner inner-bg4">
    <div class="container">
        <div class="inner-title">
            <h1>Connect Your Wallet</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Connect Wallet
                </li>
            </ul>
            <div class="inner-shape">
                <img src="assets/images/inner-banner/inner-shape1.png" alt="shape">
                <img src="assets/images/inner-banner/inner-shape2.png" alt="shape">
            </div>
        </div>
    </div>
</div>

<!-- Connect Wallet -->
<div class="text-center mt-5">
    <h1 class="h1">Supported Chains</h1>
</div>
<div class="wallet-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="wallet-card">
                    <div class="top-btn">Simple</div>
                    <img src="assets/images/logo/ethereum.png" alt="wallet" class="img-brand">
                    <h3>
                        <a routerLink="/login">
                            Ethereum
                        </a>
                    </h3>
                    <p>Connect with your google, facebook, twitter or discord all social media</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="wallet-card">
                    <div class="top-btn">Credit Card Follow</div>
                    <img class="img-brand" src="assets/images/wallet/wallet-img2.png" alt="wallet">
                    <h3>
                        <a routerLink="/login">
                            Fantom
                        </a>
                    </h3>
                    <p>Connect with your google, facebook, twitter or discord all social media</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="wallet-card">
                    <div class="top-btn">Simple</div>
                    <img class="img-brand" src="assets/images/wallet/wallet-img3.png" alt="wallet">
                    <h3>
                        <a routerLink="/login">
                            Theta
                        </a>
                    </h3>
                    <p>Connect with your google, facebook, twitter or discord all social media</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="wallet-card">
                    <img class="img-brand" src="assets/images/wallet/wallet-img4.png" alt="wallet">
                    <h3>
                        <a routerLink="/login">
                            Celo
                        </a>
                    </h3>
                    <p>Connect with your google, facebook, twitter or discord all social media</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="wallet-card">
                    <img class="img-brand" src="assets/images/wallet/wallet-img5.png" alt="wallet">
                    <h3>
                        <a routerLink="/login">
                            Denky
                        </a>
                    </h3>
                    <p>Connect with your google, facebook, twitter or discord all social media</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="wallet-card">
                    <img class="img-brand" src="assets/images/wallet/wallet-img6.png" alt="wallet">
                    <h3>
                        <a routerLink="/login">
                            Tezor
                        </a>
                    </h3>
                    <p>Connect with your google, facebook, twitter or discord all social media</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="wallet-text">
                    <p>We do not own your private keys and cannot access your funds without your confirmation.</p>
                </div>
            </div>
        </div>
    </div>
</div>