<!-- Page Banner -->
<div class="inner-banner inner-bg4">
    <div class="container">
        <div class="inner-title">
            <h1>Explore Our Digital Assets</h1>
            <ul>
                <li>
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li>
                    Explore
                </li>
            </ul>
            <div class="inner-shape">
                <img src="assets/images/inner-banner/inner-shape1.png" alt="shape">
                <img src="assets/images/inner-banner/inner-shape2.png" alt="shape">
            </div>
        </div>
    </div>
</div>

<!-- NFTs -->
<div class="nfts-area bg-f6f6f6 ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img12.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author1.jpg" alt="author-image">
                                <span>Created by @Farnil</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                        <!-- convert your date to timestamps https://www.epochconverter.com/ -->
                        <div class="countdown" simpleCountdown [dateTo]="1669896609"></div>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Industrial Revolution
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>100 ETH 12/14</span>
                            <span>Bid 80 ETH </span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author2.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author3.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 122</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img13.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author2.jpg" alt="author-image">
                                <span>Created by @Adison</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Love In The Air
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>110 ETH 12/14</span>
                            <span>Bid 70 ETH </span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author1.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author3.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 112</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img14.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author3.jpg" alt="author-image">
                                <span>Created by @Jekob</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Become One Nature
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>120 ETH 12/14</span>
                            <span>Bid 90 ETH </span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author1.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author2.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 132</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img15.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author4.jpg" alt="author-image">
                                <span>Created by @Jack</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Twilight Fracture City
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>130 ETH 12/14</span>
                            <span>Bid 80 ETH</span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author12.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author11.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 142</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img2.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author5.jpg" alt="author-image">
                                <span>Created by @Daniel</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Walking On Air
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>110 ETH 12/14</span>
                            <span>Bid 90 ETH</span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author10.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author9.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 112</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img16.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author6.jpg" alt="author-image">
                                <span>Created by @Samuel</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                        <!-- convert your date to timestamps https://www.epochconverter.com/ -->
                        <div class="countdown" simpleCountdown [dateTo]="1647026964"></div>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Supper Nuemorphism
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>130 ETH 12/14</span>
                            <span>Bid 70 ETH</span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author8.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author7.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 162</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img17.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author7.jpg" alt="author-image">
                                <span>Created by @Martina</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Dark-light Angel
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>110 ETH 12/14</span>
                            <span>Bid 80 ETH</span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author2.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author3.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 162</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img18.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author8.jpg" alt="author-image">
                                <span>Created by @Henry</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Exe Dream Height
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>160 ETH 12/14</span>
                            <span>Bid 90 ETH</span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author12.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author1.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 182</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img19.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author1.jpg" alt="author-image">
                                <span>Created by @Farnil</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                        <!-- convert your date to timestamps https://www.epochconverter.com/ -->
                        <div class="countdown" simpleCountdown [dateTo]="1669896609"></div>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Les Immortal's
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>100 ETH 12/14</span>
                            <span>Bid 80 ETH </span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author2.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author3.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 122</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img20.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author2.jpg" alt="author-image">
                                <span>Created by @Adison</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Industry Revolution
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>110 ETH 12/14</span>
                            <span>Bid 70 ETH </span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author1.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author3.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 112</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img1.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author3.jpg" alt="author-image">
                                <span>Created by @Jekob</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Portrait in Concrete
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>120 ETH 12/14</span>
                            <span>Bid 90 ETH </span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author1.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author2.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 132</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="featured-item">
                    <div class="image">
                        <a routerLink="/item-details" class="d-block">
                            <img src="assets/images/nft/nft-img2.jpg" alt="nft-image">
                        </a>
                        <div class="featured-user">
                            <a routerLink="/author-profile" class="featured-user-option">
                                <img src="assets/images/author/author4.jpg" alt="author-image">
                                <span>Created by @Jack</span>
                            </a>
                        </div>
                        <button type="button" class="default-btn border-radius-5">Place Bid</button>
                    </div>
                    <div class="content">
                        <h3>
                            <a routerLink="/item-details">
                                Become on Nature
                            </a>
                        </h3>
                        <div class="content-in">
                            <span>130 ETH 12/14</span>
                            <span>Bid 80 ETH</span>
                        </div>
                        <div class="featured-content-list">
                            <ul>
                                <li>
                                    <img src="assets/images/author/author12.jpg" alt="author-image">
                                </li>
                                <li>
                                    <img src="assets/images/author/author11.jpg" alt="author-image">
                                </li>
                                <li class="title">10+ Placed Bid</li>
                            </ul>
                            <p><i class="ri-heart-line"></i> 142</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="pagination-area">
                    <a routerLink="/explore-4" class="prev page-numbers">
                        <i class="ri-arrow-left-s-line"></i>
                    </a>
                    <span class="page-numbers current" aria-current="page">1</span>
                    <a routerLink="/explore-4" class="page-numbers">2</a>
                    <a routerLink="/explore-4" class="page-numbers">3</a>
                    <a routerLink="/explore-4" class="next page-numbers">
                        <i class="ri-arrow-right-s-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-get-involved></app-get-involved>