<!-- Footer -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-8">
                <div class="footer-widget">
                    <a routerLink="/" class="logo">
                        <img class="img-logo-footer img-fluid p-2" src="assets/images/logo/tmp_logo.png" alt="logo" >
                    </a>
                    <p class="small">Stay up to date with the latest news and promotions by subscribing to our newsletter..</p>
                    <form class="newsletter-form">
                        <input type="email" class="form-control" placeholder="Enter Your Email" name="email">
                        <button class="subscribe-btn btn btn-sm" type="submit">Subscribe Now</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>Marketplace</h3>
                    <ul class="footer-list">
                        <li>
                            <a routerLink="/explore-1" class="text-decoration-none small">
                                Art
                            </a>
                        </li>
                        <li>
                            <a routerLink="/explore-1" class="text-decoration-none small">
                                All NFTs
                            </a>
                        </li>
                        <li>
                            <a routerLink="/explore-1" class="text-decoration-none small">
                                Music
                            </a>
                        </li>
                        <li>
                            <a routerLink="/explore-1" class="text-decoration-none small">
                                Trending Cards
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>My Account</h3>
                    <ul class="footer-list">
                        <li>
                            <a routerLink="/authors" class="text-decoration-none small">
                                Authors
                            </a>
                        </li>
                        <li>
                            <a routerLink="/collection" class="text-decoration-none small">
                                Collection
                            </a>
                        </li>
                        <li>
                            <a routerLink="/author-profile" class="text-decoration-none small">
                                Author Profile
                            </a>
                        </li>
                        <li>
                            <a routerLink="/create" class="text-decoration-none small">
                                Create NFTs
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>Resources</h3>
                    <ul class="footer-list">
                        <li>
                            <a routerLink="/faq" class="text-decoration-none small">
                                Helps & Support
                            </a>
                        </li>
                        <li>
                            <a routerLink="/live-auctions" class="text-decoration-none small">
                                Live Auctions
                            </a>
                        </li>
                        <li>
                            <a routerLink="/item-details" class="text-decoration-none small">
                                Item Details
                            </a>
                        </li>
                        <li>
                            <a routerLink="/activity" class="text-decoration-none small">
                                Activity
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-4">
                <div class="footer-widget ps-5">
                    <h3>Company</h3>
                    <ul class="footer-list">
                        <li>
                            <a routerLink="/about" class="text-decoration-none small">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/contact" class="text-decoration-none small">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a routerLink="/blog" class="text-decoration-none small">
                                Our Blog
                            </a>
                        </li>
                        <li>
                            <a routerLink="/explore-1" class="text-decoration-none small">
                                Discover
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-shape">
        <div class="footer-shape1">
            <img src="assets/images/shape/shape-bg.png" alt="shape-image">
        </div>
        <div class="footer-shape2">
            <img src="assets/images/shape/shape1.png" alt="shape-image">
        </div>
        <div class="footer-shape3">
            <img src="assets/images/shape/shape2.png" alt="shape-image">
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="copy-right-text">
                    <p>© Ticket-Block is Proudly Owned by <a href="#" target="_blank" class="text-decoration-none">Ticket Block</a></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="copy-right-social">
                    <ul class="social-link">
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="ri-facebook-fill bi bi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="ri-instagram-fill bi bi-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="ri-twitter-fill bi bi-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="ri-linkedin-fill bi bi-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
