<!-- Top Author -->
<div
    class="author-area author-area-bg pt-100 pb-70"
    [ngClass]="{ 'd-none': router.url === '/index-3' }"
>
    <div class="container">
        <div class="section-title">
            <h2>Top Events Creators</h2>
            <a routerLink="/authors" class="default-btn border-radius-5"
                >Explore More</a
            >
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="author-card">
                    <a routerLink="/author-profile" class="d-block image">
                        <img
                            src="assets/images/top-author/top-author1.jpg"
                            alt="nft-image"
                        />
                    </a>
                    <div class="content">
                        <div class="author-user">
                            <img
                                src="assets/images/author/author4.jpg"
                                alt="author-image"
                            />
                            <i class="ri-check-line"></i>
                        </div>
                        <h3>
                            <a
                                routerLink="/author-profile"
                                class="text-decoration-none"
                            >
                                Olivia Jenar
                            </a>
                        </h3>
                        <span>@Jenar</span>
                        <div class="author-content">
                            <div class="content-left">
                                <span>Followers</span>
                                <h3>2941</h3>
                            </div>
                            <div class="content-right">
                                <button type="submit">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="author-card">
                    <a routerLink="/author-profile" class="d-block image">
                        <img
                            src="assets/images/top-author/top-author2.jpg"
                            alt="nft-image"
                        />
                    </a>
                    <div class="content">
                        <div class="author-user">
                            <img
                                src="assets/images/author/author5.jpg"
                                alt="author-image"
                            />
                            <i class="ri-check-line"></i>
                        </div>
                        <h3>
                            <a
                                routerLink="/author-profile"
                                class="text-decoration-none"
                            >
                                James Parker
                            </a>
                        </h3>
                        <span>@Parker</span>
                        <div class="author-content">
                            <div class="content-left">
                                <span>Followers</span>
                                <h3>2945</h3>
                            </div>
                            <div class="content-right">
                                <button type="submit">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="author-card">
                    <a routerLink="/author-profile" class="d-block image">
                        <img
                            src="assets/images/top-author/top-author3.jpg"
                            alt="nft-image"
                        />
                    </a>
                    <div class="content">
                        <div class="author-user">
                            <img
                                src="assets/images/author/author6.jpg"
                                alt="author-image"
                            />
                            <i class="ri-check-line"></i>
                        </div>
                        <h3>
                            <a
                                routerLink="/author-profile"
                                class="text-decoration-none"
                            >
                                Lucas Adison
                            </a>
                        </h3>
                        <span>@Adison</span>
                        <div class="author-content">
                            <div class="content-left">
                                <span>Followers</span>
                                <h3>4205</h3>
                            </div>
                            <div class="content-right">
                                <button type="submit">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="author-card">
                    <a routerLink="/author-profile" class="d-block image">
                        <img
                            src="assets/images/top-author/top-author4.jpg"
                            alt="nft-image"
                        />
                    </a>
                    <div class="content">
                        <div class="author-user">
                            <img
                                src="assets/images/author/author4.jpg"
                                alt="author-image"
                            />
                            <i class="ri-check-line"></i>
                        </div>
                        <h3>
                            <a
                                routerLink="/author-profile"
                                class="text-decoration-none"
                            >
                                Amelia Rosia
                            </a>
                        </h3>
                        <span>@Rosia</span>
                        <div class="author-content">
                            <div class="content-left">
                                <span>Followers</span>
                                <h3>2306</h3>
                            </div>
                            <div class="content-right">
                                <button type="submit">Follow</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="author-area-shape">
        <img src="assets/images/author/author-shape.png" alt="shape-image" />
    </div>
</div>

<!-- Top Author for Home Demo -3 -->
<div
    class="author-area bg-f9f9f9 pt-100 pb-70 d-none"
    [ngClass]="{ 'd-block': router.url === '/index-3' }"
>
    <div class="container">
        <div class="section-title">
            <h2>Top Author</h2>
            <a routerLink="/authors" class="default-btn border-radius-5"
                >Explore More</a
            >
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="author-item">
                    <a routerLink="/author-profile" class="d-block">
                        <img
                            src="assets/images/top-author/top-author1.jpg"
                            alt="nft-image"
                        />
                    </a>
                    <div class="content">
                        <button type="submit">Follow</button>
                        <div class="author-user">
                            <img
                                src="assets/images/author/author1.jpg"
                                alt="author"
                            />
                            <i class="ri-check-line"></i>
                        </div>
                        <h3>
                            <a routerLink="/author-profile"> Olivia Jenar </a>
                        </h3>
                        <span class="username">@Jenar</span>
                        <p>
                            Lorem ipsum dolor sit amet, elit Velit egestas
                            mattis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="author-item">
                    <a routerLink="/author-profile" class="d-block">
                        <img
                            src="assets/images/top-author/top-author2.jpg"
                            alt="nft-image"
                        />
                    </a>
                    <div class="content">
                        <button type="submit">Follow</button>
                        <div class="author-user">
                            <img
                                src="assets/images/author/author2.jpg"
                                alt="author"
                            />
                            <i class="ri-check-line"></i>
                        </div>
                        <h3>
                            <a routerLink="/author-profile"> James Parker </a>
                        </h3>
                        <span class="username">@Parker</span>
                        <p>
                            Lorem ipsum dolor sit amet, elit Velit egestas
                            mattis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="author-item">
                    <a routerLink="/author-profile" class="d-block">
                        <img
                            src="assets/images/top-author/top-author3.jpg"
                            alt="nft-image"
                        />
                    </a>
                    <div class="content">
                        <button type="submit">Follow</button>
                        <div class="author-user">
                            <img
                                src="assets/images/author/author3.jpg"
                                alt="author"
                            />
                            <i class="ri-check-line"></i>
                        </div>
                        <h3>
                            <a routerLink="/author-profile"> Lucas Adison </a>
                        </h3>
                        <span class="username">@Adison</span>
                        <p>
                            Lorem ipsum dolor sit amet, elit Velit egestas
                            mattis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="author-item">
                    <a routerLink="/author-profile" class="d-block">
                        <img
                            src="assets/images/top-author/top-author4.jpg"
                            alt="nft-image"
                        />
                    </a>
                    <div class="content">
                        <button type="submit">Follow</button>
                        <div class="author-user">
                            <img
                                src="assets/images/author/author4.jpg"
                                alt="author"
                            />
                            <i class="ri-check-line"></i>
                        </div>
                        <h3>
                            <a routerLink="/author-profile"> Amelia Rosia </a>
                        </h3>
                        <span class="username">@Rosia</span>
                        <p>
                            Lorem ipsum dolor sit amet, elit Velit egestas
                            mattis.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="author-area-shape-two">
        <img src="assets/images/author/author-shape2.png" alt="shape-image" />
    </div>
</div>
