<!-- Funfacts -->
<div class="funfacts-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>We Always Try To Understand <br>Users Expectation</h2>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2 col-md-2 col-sm-4">
                <div class="single-funfacts-box">
                    <img src="assets/images/icon/icon1.png" alt="icon">
                    <h3>2023</h3>
                    <span>Founded</span>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-4">
                <div class="single-funfacts-box">
                    <img src="assets/images/icon/icon2.png" alt="icon">
                    <h3>4</h3>
                    <span>Employees</span>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-4">
                <div class="single-funfacts-box">
                    <img src="assets/images/icon/icon3.png" alt="icon">
                    <h3>500K+</h3>
                    <span>Users</span>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-4">
                <div class="single-funfacts-box">
                    <img src="assets/images/icon/icon4.png" alt="icon">
                    <h3>1.5M+</h3>
                    <span>Events</span>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-4">
                <div class="single-funfacts-box">
                    <img src="assets/images/icon/icon5.png" alt="icon">
                    <h3>75.1M+</h3>
                    <span>Nft Ticket</span>
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-4">
                <div class="single-funfacts-box">
                    <img src="assets/images/icon/icon6.png" alt="icon">
                    <h3>$8B+</h3>
                    <span>Normal Ticket</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partner -->
<div class="partner-area pb-100">
    <div class="container">
        <h5 class="title">Trusted by world famous companies:</h5>
        <div class="row justify-content-center">
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner1.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner2.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner3.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner4.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner5.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner6.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner7.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner8.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner9.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner10.svg" alt="partner">
                </div>
            </div>
            <div class="col-6 col-lg-2 col-md-2 col-sm-3">
                <div class="partner-item">
                    <img src="assets/images/partner/partner11.svg" alt="partner">
                </div>
            </div>
        </div>
    </div>
</div>