<div class="team-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Meet with Talented People From Ticket-Block</h2>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author10.jpg" alt="author-image">
                    <h3>
                        Layinka Tanimomo
                    </h3>
                    <span>C.E.O</span>
                    <p>Layinka is a Full-Stack Developer, Blockchain Developer with many years of experience</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author10.jpg" alt="author-image">
                    <h3>
                        Richard .......
                    </h3>
                    <span>Product Manager</span>
                    <p>Richard is a Product Manager with many years</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author11.jpg" alt="author-image">
                    <h3>
                        Joseph Amire
                    </h3>
                    <span>Front-End Developer</span>
                    <p>Joseph is a Front-End Developer with many years of experience</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6">
                <div class="team-card">
                    <img src="assets/images/author/author12.jpg" alt="author-image">
                    <h3>
                        Adedoyin Emmanuel
                    </h3>
                    <span>Full Stack Developer</span>
                    <p>Emmanuel is a Full-Stack Developer with several years</p>
                </div>
            </div>
        </div>
    </div>
    <div class="team-shape">
        <img src="assets/images/shape/team-shape.png" alt="shape-image">
    </div>
</div>