<div class="banner-area-three">
    <div class="container">
        <div class="banner-content-three">
            <h1>The World Of Creative & Rare Digital Artwork</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam etiam rhoncus aenean a iaculis aliquet rhoncus sed. Accumsan sodales consectetur.</p>
            <div class="banner-btn">
                <a routerLink="/explore-1" class="default-btn border-radius-5">Explore More</a>
                <a routerLink="/connect-wallet" class="default-btn border-radius-5">Connect Wallet</a>
            </div>
        </div>
    </div>
</div>